.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.75rem 3rem;
}

.hero-photo-grid {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: auto;
}

.hero-title {
    margin-bottom: 0.8rem;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .hero-container {
        margin: 1rem 1.25rem;
    }
}